* {
  margin: 0;
  padding: 0;
}

.navbar {
  gap: 30px;
  width: 100%;
}
.main {
  width: 100%;
  height: auto;
  /* background-color: bisque; */
}
/*-------------------------------------------------------------- sec1------------------------------------- */
.sec1 {
  /* background-color: aqua; */
  background-image: url(./image/pink\ bg2.jpg);
  background-repeat: no-repeat;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.sec1-left {
  /* background-color: rgb(238, 127, 232); */
  width: 55%;
  padding: 65px 60px;
  height: 360px;
}
.transparent-btn {
  width: 140px;
  height: 45px;
  background-color: transparent;
}
.sec1-right {
  /* background-color: pink; */
  width: 45%;
  height: 360px;
}
.sec1-right-ring {
}
.ring {
  margin-top: 65px;
  width: 80%;
  height: 80%;
}

/*-------------------------------------------------------------- sec2------------------------------------- */
.sec2 {
  /* background-color: aqua; */
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 40.3px;
}
.sec2-left {
  /* background-color: rgb(158, 81, 154); */
  background-image: url(./image/sec2-img1.jpg);
 background-repeat: no-repeat;
  width: 48%;
  height: 340px;
  padding: 65px 60px;
}
.sec2-btn {
  width: 140px;
  height: 45px;
  background-color: transparent;
}
.sec2-right {
  /* background-color: rgb(223, 38, 69); */
  background-image: url(./image/sec2-img2.jpg);
  background-repeat: no-repeat;
  width: 47.5%;
  height: 340px;
  padding-top: 65px ;
  padding-left: 80px;
 
}

/*-------------------------------------------------------------- sec3------------------------------------- */
.sec3 {
  /* background-color: rgb(253, 148, 109); */
  width: 100%;
  height: 200px;
  
/* padding: 50px 300px; */
}
.sec3-head{
    /* padding: 50px 350px; */
text-align: center;
}
.sec3-head1{
    font-size: 18px;
    font-weight: 400;
/* text-align: center; */
padding-top: 100px;

}
.sec3-head2{
    font-size: 28px;
  font-weight: 400;
/* text-align: center; */

}


/*-------------------------------------------------------------- sec4------------------------------------- */
.sec4 {
  width: 100%;
  /* height: 170px; */
  /* background-color: yellow; */
  /* margin-bottom: 300px; */
  justify-content: space-between;
  /* justify-content: space-around; */

  display: flex;
  flex-wrap: wrap;
}
.sec4-box {
  width: 184px;
  /* height: 50px; */
  height: 100%;
  /* background-color: aquamarine; */
  margin-top: 10px;
}
.sec4-img {
  width: 100%;
  height: 130px;
}

.sec4-head{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 5px;

}



/* 990 */
@media only screen and (max-width: 996px) {
  .sec1 {
    width: 100%;
    /* height: 300px; */
  }
  .sec2 {
    width: 100%;
    height: auto;
    /* height: 340px; */
    margin-top: 30px;
    gap: 40.3px;
    /* margin-bottom: 200px; */
  }
  .sec2-left {
    /* width: 100%; */
    /* height:100%; */
    height: 340px;
    width: 47%;

  }
  .sec2-right {
    height: 340px;
    width: 47%;

  }



  .sec4 {
    width: 100%;
    justify-content: space-around;
    /* justify-content: space-around; */
  }

}


@media only screen and (max-width: 768px){
    .sec2-left {
        width: 100%;
        /* height:100%; */
        height: 340px;
        /* width: 47%; */
    
      }
      .sec2-right {
        width: 100%;
        /* height: 100%; */
        height: 340px;
        /* width: 47%; */
      } 
}


@media only screen and (max-width: 675px){
  .sec2-left {
        width: 100%;
        /* height:100%; */
        height: 340px;
        /* width: 47%; */
    
      }
      .sec2-right {
        width: 100%;
        /* height: 100%; */
        height: 340px;
        /* width: 47%; */
      }

      .sec4 {
        width: 100%;
        justify-content: space-around;
        /* justify-content: space-around; */
      }

}

@media only screen and (max-width: 480px) {
  .sec1 {
    /* width: 470px; */
    /* height: 300px; */
    /* display: ; */
  }
  .sec1-left {
    /* background-color: rgb(238, 127, 232); */
    width: 470px;
    height: 300px;

    /* height: 100%; */
  }

  .sec1-right {
    /* background-color: rgb(238, 127, 232); */
    width: 470px;
    height: 300px;
    /* height: 100%; */
  }


  .sec2-right {
    padding-top: 65px ;
    padding-left: 90px;
   
  }








}
